#overviewDishes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Overview .price {
    float: right;
}

.Overview .total {
    float: right;
    font-size: 2em;
    margin: 2em;
}

#overviewPrint {
    padding: 2em;
    text-align: center;
}

#overviewPrint button {
    font-size: 1.5em;
}

