.Dish {
  padding: 2em;
  width: 15em;
}

.Dish p {
  padding: .5em;
  text-align: center;
  background-color: grey;
  color: white;
}

.Dish img {
  width: 100%;
}

.banner {
  background-color: grey;
}

.banner.left {
  float: left;
}

.banner.right {
  float: right;
}
