.loader {
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: center;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.loader .spinner {
  height: 5em;
  width: 5em;
  color: white;
}

