@import '~bootstrap/dist/css/bootstrap.min.css';

html,
body {
  height: 100%;
}

.container-fluid {
  padding: 2em;
  height:90%;
}

header {
  padding: .5em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 1vw);
  height: 10%;
  width: 100%;
}

#loader {
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

#loader .spinner {
  height: 5em;
  width: 5em;
  color: white;
}

/* CLASSES */

.dish {
  padding: 2em;
  width: 15em;
}

.dish p {
  padding: .5em;
  text-align: center;
  background-color: grey;
  color: white;
}

.dish img {
  width: 100%;
}

.banner {
  background-color: grey;
}

.banner.left {
  float: left;
}

.banner.right {
  float: right;
}

.title {
  font-size: 1.5em;
}

.added {
  color: green;
  visibility: hidden;
}

/* MEDIA QUERIES */

@media screen and (max-width: 600px) {
  .container-fluid {
    padding: .5em;
  }

  #ingredientTable {
    margin: 0 -2em;
  }
}
